:root {
  --black: #181818;
  --white: white;
  --green: #b9ff66;
  --grey: #373737;
  --light-grey: #373737;
}

/* Coing from global embed */
/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}
/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}
/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}
/* Prevent all click and hover interaction with an element */
.pointer-events-off {
	pointer-events: none;
}
/* Enables all click and hover interaction with an element */
.pointer-events-on {
  pointer-events: auto;
}
/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
/* Make sure containers never lose their center alignment */
.container-medium,.container-small, .container-large {
	margin-right: auto !important;
  margin-left: auto !important;
}
/* Apply "..." after 2 lines of text */
.text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/
/* Apply "..." after 3 lines of text */
.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}
/* These classes are never overwritten */
.hide {
  display: none !important;
}
@media screen and (max-width: 991px) {
    .hide, .hide-tablet {
        display: none !important;
    }
}
  @media screen and (max-width: 767px) {
    .hide-mobile-landscape{
      display: none !important;
    }
}
  @media screen and (max-width: 479px) {
    .hide-mobile{
      display: none !important;
    }
}
.margin-0 {
  margin: 0rem !important;
}
.padding-0 {
  padding: 0rem !important;
}
.spacing-clean {
padding: 0rem !important;
margin: 0rem !important;
}
.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}
.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}
.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}
.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}
.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}
.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
/*Book a call circular animation */
@-webkit-keyframes rotating /* Safari and Chrome */  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.rotating {
  -webkit-animation: rotating 6s linear infinite;
  -moz-animation: rotating 6s linear infinite;
  -ms-animation: rotating 6s linear infinite;
  -o-animation: rotating 6s linear infinite;
  animation: rotating 6s linear infinite;
}
.scale {
	transition: transform 0.5s;
}
.rotating:hover {
	animation-play-state: paused;
}
.scale:hover {
	transform: scale(1.1, 1.1);
}
@-webkit-keyframes counterRotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes counterRotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating .bac_disk {
  -webkit-animation: counterRotating 6s linear infinite;
  -moz-animation: counterRotating 6s linear infinite;
  -ms-animation: counterRotating 6s linear infinite;
  -o-animation: counterRotating 6s linear infinite;
  animation: counterRotating 6s linear infinite;
}
.rotating:hover .bac_disk {
	animation-play-state: paused;
}
.faq_item-wrap {
	transition: color .2s, background-color .2s, border-color .2s;
}
.faq_item-wrap:not(is-active):hover {
	background-color: rgb(185, 255, 102) !important;
  color: rgb(24, 24, 24) !important;
  border-color: rgb(185, 255, 102) !important;
}

/* end of global embed */

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: Mona Sans Regular, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: PP Monument Extended, sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.1;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: PP Monument Extended, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: PP Monument Extended, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

p {
  max-width: 50ch;
  margin-bottom: 0;
}

a {
  color: var(--white);
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  max-width: 20rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: var(--green);
  color: var(--black);
  text-align: center;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 2rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-bottom.padding-medium {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(0, 115, 230, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  width: 1.5rem;
  height: 1.5rem;
  flex: none;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.background-color-black {
  background-color: var(--black);
  color: #f5f5f5;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-black {
  color: #000;
  flex: 0 auto;
}

.text-color-grey {
  color: gray;
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  font-size: 1rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-white {
  color: #fff;
}

.text-style-italic {
  font-style: italic;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(0, 115, 230, .1);
  border: 1px dashed #0073e6;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.background-color-white {
  background-color: var(--green);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-grey {
  background-color: var(--grey);
}

.form_input {
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.heading-style-h6 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: rgba(0, 0, 0, .05);
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #0073e6;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_label.is-hex {
  color: #000;
  background-color: #f5f5f5;
}

.fs-styleguide_version {
  z-index: 5;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.heading-style-h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--green);
  color: var(--black);
  text-align: center;
  border-radius: .5rem;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-bottom-width: .125rem;
  transition: color .2s, background-color .2s;
}

.button.is-secondary:hover {
  background-color: var(--black);
  color: var(--green);
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  width: 125px;
  height: 125px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 34px;
  display: flex;
  position: relative;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: block;
}

.fs-styleguide_color.is-1 {
  background-color: var(--black);
}

.fs-styleguide_color.is-2 {
  background-color: var(--grey);
}

.fs-styleguide_color.is-3 {
  background-color: var(--green);
}

.nav_component {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: .5rem;
}

.nav_content {
  justify-content: space-between;
  display: flex;
}

.nav_brand {
  color: #000;
  align-items: center;
  text-decoration: none;
  transition: transform .2s, color .2s;
  display: flex;
}

.nav_menu {
  align-items: center;
  display: flex;
}

.nav_link {
  color: var(--white);
  text-transform: uppercase;
}

.nav_link.w--current {
  color: var(--green);
}

.nav_link.is-hidden {
  display: none;
}

.img-contain {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  padding-bottom: 1rem;
}

.nav_ctas-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  padding: 1rem;
  display: none;
}

.nav_cta-link {
  color: #000;
}

.nav_button-wrap {
  width: 50px;
  height: 50px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  padding: 12px 8px 8px;
  display: flex;
  overflow: hidden;
}

.nav_button-bar {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-bottom: 6px;
}

.section_content {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.section_more {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section_hero {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}

.hero_content {
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  color: var(--black);
  background-color: #b9ff66;
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header_wrapper {
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.headline-wrapper {
  width: 100%;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  display: flex;
}

.bac_wrapper {
  width: 8rem;
  height: 8rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  cursor: pointer;
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bac_wrapper:hover {
  transform: scale(1.1);
}

.bac_disk {
  width: 75%;
  height: 75%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--black);
  object-fit: contain;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.services_content {
  width: 100%;
  grid-column-gap: 72px;
  grid-row-gap: 72px;
  border-radius: 39px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.small-cards-wrapper {
  width: 100%;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  display: grid;
}

.small-cards-wrapper.is-smaller {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.small-card_text {
  width: 100%;
  height: 100%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  color: var(--black);
  background-color: #b9ff66;
  border-radius: 1rem;
  flex-direction: column;
  flex: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
}

.small-card_text.is-smaller {
  padding: 1.5rem;
}

.about_content {
  width: 100%;
  grid-column-gap: 72px;
  grid-row-gap: 72px;
  background-color: #373737;
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  display: block;
}

.contact_section {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: block;
}

.contact_content {
  width: 100%;
  color: var(--black);
  text-align: center;
  background-color: #b9ff66;
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5rem;
  display: flex;
}

.buttons-wrapper {
  width: 100%;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3rem;
  display: flex;
}

.text-color-green {
  color: var(--green);
}

.nav_brand-text {
  color: var(--white);
  text-transform: uppercase;
  font-family: Mona Sans Regular, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.bac_text {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right: -10%;
  display: block;
  position: absolute;
  transform: rotate(0);
}

.section_about {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero_animation {
  width: 100%;
  object-fit: contain;
}

.hero_illustration {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: -20rem;
  display: flex;
}

.main-heading {
  max-width: 18ch;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.main-heading.text-align-left, .main-heading.is-left-desktop {
  text-align: left;
}

.main-subheading {
  max-width: 50ch;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-family: Mona Sans Regular, sans-serif;
  font-size: 1.675rem;
  font-weight: 400;
  line-height: 1.5;
}

.main-subheading.is-left-aligned {
  text-align: left;
  margin-left: 0;
}

.main-subheading.smaller-bottom-padding {
  margin-bottom: 1rem;
}

.small-card_heading {
  color: var(--black);
  text-align: left;
  text-transform: uppercase;
  overflow-wrap: anywhere;
  margin-bottom: 2rem;
  font-family: Mona Sans Regular, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

.small-card_heading.is-smaller {
  min-height: 4.2rem;
  font-size: 1.75rem;
}

.expanding-cards_wrapper {
  margin-bottom: 2rem;
  padding: 0;
}

.expanding-cards_main-wrap {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 1rem;
  display: grid;
}

.expanding-cards_main-wrap.is-for-websites {
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  margin-bottom: 0;
}

.expanding-cards_wrap {
  width: 100%;
  min-height: 6.2rem;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  border-radius: 1rem;
  flex-direction: column;
  flex: 0 auto;
  padding: 1rem;
  display: flex;
}

.expanding-cards_icon-wrap {
  color: var(--green);
  margin-left: 1rem;
  display: flex;
  position: relative;
}

.expanding-cards_heading {
  text-align: left;
  font-family: Mona Sans Regular, sans-serif;
  font-size: 1.75rem;
}

.svg-embed {
  justify-content: center;
  align-items: center;
  display: flex;
}

.svg-embed.is-large {
  width: 4rem;
  height: 4rem;
}

.expanding-cards_content {
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

.expanding-cards_content.w--open {
  background-color: rgba(0, 0, 0, 0);
  position: static;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.expanding-cards_paragraph {
  max-width: 100%;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.small-card_image {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact_header {
  text-align: center;
  margin-bottom: 2rem;
  font-family: PP Monument Extended, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
}

.bac_svg-embed {
  justify-content: center;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  transform: rotate(-45deg);
}

.secondary-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.footer_button {
  background-color: var(--green);
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #000;
  border-radius: 3rem;
  flex: none;
  padding: .75rem 1.5rem;
  font-family: PP Monument Extended, sans-serif;
  font-size: 2rem;
  text-decoration: none;
  transition: transform .2s, background-color .2s, color .2s;
}

.footer_button:hover {
  background-color: var(--black);
  color: var(--green);
  transform: scale(1.02);
}

.big-cards-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 4rem;
  display: grid;
}

.big-card_image {
  background-color: var(--green);
  border-radius: 1.5rem;
  padding: 2rem;
}

.big-card_text {
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.wide-card_wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: var(--grey);
  border-radius: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 3fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
}

.wide-card_wrap:hover {
  background-color: #5e5e5e;
}

.wide-card_heading {
  max-width: 18ch;
  color: var(--green);
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.wide-card_paragraph {
  max-width: 60ch;
}

.wide-card_arrow-wrap {
  background-color: var(--green);
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  display: flex;
}

.html-embed {
  justify-content: center;
  align-items: center;
  display: flex;
}

.section_details {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section_process {
  flex-direction: column;
  padding-bottom: 5vh;
}

.faq_container {
  grid-row-gap: 1.5rem;
  flex-direction: column;
  font-size: 1.125rem;
  display: flex;
}

.faq_item-wrap {
  border: 1px solid var(--white);
  cursor: pointer;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem;
  display: flex;
}

.faq_question {
  text-align: left;
  text-transform: none;
  font-family: Mona Sans Regular, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.faq_icon {
  justify-content: center;
  align-items: center;
  display: flex;
}

.faq_line-wrap {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.faq_answer-wrap {
  overflow: hidden;
}

.faq_answer {
  max-width: none;
  padding-top: 1.5rem;
}

.process_content {
  width: 100%;
  max-height: 90vh;
  background-color: var(--green);
  color: var(--black);
  border-radius: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  overflow: hidden;
}

.process_cards-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex: 1;
  align-items: stretch;
  padding-left: 3rem;
  display: flex;
  overflow: hidden;
}

.process_card-item {
  width: 40rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  border: 1px solid var(--black);
  border-radius: 1rem;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding: 2rem;
  display: grid;
}

.process_card-header {
  grid-column-gap: 1rem;
  align-items: flex-end;
  display: flex;
}

.process_card-number {
  font-family: PP Monument Extended, sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
}

.process_card-illustration {
  flex: 1;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.process_header {
  width: 100%;
  flex-direction: column;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
}

.process_gradient-wrap {
  z-index: 9;
  width: 3rem;
  background-image: linear-gradient(to right, transparent, var(--green) 50%);
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  left: auto;
  right: 0%;
}

.process_gradient-wrap.is-left {
  background-image: linear-gradient(to right, var(--green) 50%, transparent);
  left: 0%;
  right: auto;
}

.process_card-head-wrap {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-direction: column;
  flex: none;
  display: flex;
}

.process_spacer {
  width: 100%;
  height: 200vh;
  margin-top: 10vh;
}

.process_spacer.debug {
  border: 1px solid red;
}

.process_card-text {
  max-width: none;
}

.text-style-custom {
  text-align: center;
  font-size: 1.25rem;
}

.big-cards_text {
  max-width: 50ch;
}

.expanding-cards_header {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.contact_socials {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  display: flex;
}

.contact_icon {
  color: var(--black);
  justify-content: center;
  align-items: center;
  transition: transform .2s;
}

.contact_icon:hover {
  transform: scale(1.1);
}

.no-padding-bottom {
  margin-bottom: 0;
}

.swiper.swiper-websites {
  height: 80vh;
  display: none;
  overflow: hidden;
}

.swiper-wrapper {
  height: 100%;
  display: flex;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  flex: none;
  overflow: hidden;
}

.swiper-slide-image {
  width: 100%;
  object-fit: contain;
}

.swiper-slide-text {
  margin-top: -2rem;
}

.websites_list {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-direction: column;
  display: flex;
}

.websites_item {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.website_overlay {
  height: auto;
  background-color: var(--green);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: var(--black);
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: PP Monument Extended, sans-serif;
  font-size: 2rem;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.website_link {
  border: 2px solid var(--green);
  border-radius: 2rem;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.website_image {
  transition: transform .2s cubic-bezier(.77, 0, .175, 1);
}

.website_image:hover {
  transform: scale(1.02);
}

.website_title {
  padding: .5rem 1.5rem;
  line-height: 5rem;
}

.website_header {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: -2.5rem;
  display: flex;
}

.website_description {
  height: auto;
  max-width: 30ch;
  text-align: center;
  text-transform: none;
  font-family: Mona Sans Regular, sans-serif;
  font-size: 1.5rem;
  display: block;
  overflow: hidden;
}

.website_description.is-hidden {
  display: none;
}

.website_logo-wrap {
  width: 8rem;
  overflow: hidden;
}

.qr-code-wrap {
  width: 100%;
  max-height: 100vmin;
  max-width: 100vmin;
  border: 1px solid #fff;
  margin: 2rem auto 5rem;
  position: static;
}

.qr-code {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .padding-global {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .text-style-2lines {
    margin-bottom: 2rem;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .nav_menu {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    background-color: var(--black);
    box-shadow: 0 0 1rem 0 var(--black);
    border-top: .5px solid rgba(185, 255, 102, .2);
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    display: flex;
  }

  .nav_link {
    text-align: center;
    margin-bottom: 1rem;
    padding: 1.5rem;
    font-size: 1.25rem;
  }

  .nav_ctas-wrapper {
    max-width: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .nav_button-wrap {
    width: 4rem;
    height: 4rem;
    padding: 1rem .5rem .5rem;
  }

  .nav_button-bar {
    height: .125rem;
    background-color: #fff;
    margin-bottom: .5rem;
  }

  .nav_button {
    color: var(--white);
    padding: .5rem;
  }

  .nav_button.w--open {
    background-color: var(--black);
  }

  .section_hero {
    margin-bottom: 30%;
  }

  .header_wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .headline-wrapper {
    flex-direction: column;
  }

  .bac_wrapper {
    width: 8rem;
    height: 8rem;
  }

  .bac_wrapper.rotating {
    position: static;
  }

  .about_content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .contact_content {
    padding: 2rem;
  }

  .buttons-wrapper {
    flex-wrap: wrap;
  }

  .nav_brand-text {
    text-decoration: none;
  }

  .hero_animation {
    flex: 1;
  }

  .hero_illustration {
    margin-bottom: -30%;
  }

  .main-heading {
    font-size: 3rem;
  }

  .main-heading.is-left-desktop {
    text-align: center;
  }

  .main-subheading {
    font-size: 1.5rem;
  }

  .small-card_heading {
    text-align: left;
    font-family: Mona Sans Regular, sans-serif;
  }

  .expanding-cards_main-wrap {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }

  .contact_header {
    font-size: 3rem;
  }

  .footer_button {
    font-size: 1.75rem;
  }

  .big-cards-wrapper {
    flex-direction: column-reverse;
    display: flex;
  }

  .big-card_image {
    max-width: 24rem;
  }

  .big-card_text {
    align-items: center;
  }

  .process_cards-wrapper {
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
  }

  .process_card-item {
    padding: 1.75rem;
  }

  .process_header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .process_gradient-wrap {
    width: 2rem;
  }

  .big-cards_text {
    max-width: 60ch;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .fs-styleguide_version, .heading-style-h5 {
    font-size: .875rem;
  }

  .text-style-2lines {
    margin-bottom: 1rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .nav_brand {
    padding-left: 0;
  }

  .nav_menu {
    padding: 1.5rem 1.5rem 2rem;
  }

  .nav_button {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section_hero {
    max-width: 100%;
  }

  .header_wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .small-cards-wrapper {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .small-card_text {
    padding: 1.5rem;
  }

  .about_content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .contact_content {
    padding: 1.5rem;
  }

  .main-heading {
    font-size: 2.25rem;
  }

  .main-subheading {
    font-size: 1.375rem;
  }

  .small-card_heading {
    min-height: auto;
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }

  .small-card_heading.is-smaller {
    min-height: auto;
  }

  .expanding-cards_main-wrap {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  }

  .expanding-cards_wrap {
    min-height: auto;
  }

  .svg-embed.is-large {
    width: 3rem;
    height: 3rem;
  }

  .contact_header {
    font-size: 2.5rem;
  }

  .footer_button {
    flex: 0 auto;
    font-size: 1.5rem;
  }

  .big-card_image {
    padding: 1.5rem;
  }

  .big-card_text {
    align-items: center;
    padding-bottom: 0;
  }

  .wide-card_wrap {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .wide-card_left {
    padding-right: 4.5rem;
  }

  .wide-card_arrow-wrap {
    padding: 1rem;
    position: absolute;
    top: -.5rem;
    bottom: auto;
    left: auto;
    right: -.5rem;
  }

  .html-embed {
    width: 4rem;
    height: 4rem;
  }

  .section_process {
    overflow: hidden;
  }

  .process_content {
    max-height: none;
    border-radius: 1.5rem;
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: static;
  }

  .process_cards-wrapper {
    flex-direction: column;
    flex: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .process_card-item {
    width: 100%;
    padding: 1.5rem;
  }

  .process_card-number {
    line-height: 1;
  }

  .process_header {
    padding-left: 1rem;
    padding-right: 1.5rem;
  }

  .process_gradient-wrap {
    width: 1rem;
    display: none;
  }

  .process_spacer {
    display: none;
  }

  .contact_socials {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  h1, h2, h3, h4 {
    overflow-wrap: anywhere;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .padding-global {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .heading-style-h4 {
    overflow-wrap: anywhere;
  }

  .text-style-2lines {
    margin-bottom: .5rem;
  }

  .nav_menu {
    padding: 1rem 1rem 1.5rem;
  }

  .section_hero {
    display: block;
  }

  .header_wrapper {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .small-cards-wrapper {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-direction: column;
    display: flex;
  }

  .small-cards-wrapper.is-smaller {
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    display: flex;
  }

  .small-card_text, .small-card_text.is-smaller {
    padding: 1rem;
  }

  .about_content {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .contact_content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav_brand-text {
    font-size: 1.25rem;
  }

  .main-heading {
    white-space: normal;
    overflow-wrap: anywhere;
    font-size: 1.75rem;
  }

  .main-subheading {
    font-size: 1.25rem;
  }

  .small-card_heading {
    overflow-wrap: anywhere;
    font-size: 1.5rem;
  }

  .small-card_heading.is-smaller {
    min-height: auto;
    margin-bottom: 1rem;
  }

  .expanding-cards_main-wrap {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-direction: column;
    display: flex;
  }

  .expanding-cards_heading {
    overflow-wrap: anywhere;
    font-size: 1.5rem;
  }

  .svg-embed.is-large {
    width: 2.5rem;
    height: 2.5rem;
  }

  .small-card_wrap {
    width: 100%;
  }

  .contact_header {
    font-size: 2rem;
  }

  .secondary-heading {
    overflow-wrap: anywhere;
  }

  .big-card_image {
    padding: 1rem;
  }

  .big-card_text {
    padding-bottom: 0;
  }

  .wide-card_wrap {
    flex-direction: column;
    overflow: hidden;
  }

  .wide-card_left {
    max-width: 100%;
    padding-right: 0;
  }

  .wide-card_arrow-wrap {
    margin-left: auto;
    position: static;
  }

  .section_details {
    display: block;
  }

  .faq_item-wrap {
    padding: 1rem;
  }

  .process_content {
    max-height: none;
    position: static;
  }

  .process_cards-wrapper {
    flex-direction: column;
    position: relative;
  }

  .process_card-item {
    justify-content: flex-start;
    padding: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .process_card-header {
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .process_header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .process_gradient-wrap {
    display: none;
  }

  .contact_socials {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-wrap: wrap;
  }
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-a47603db {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-a47603db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-a47603db {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-a47603db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-a47603db {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-a47603db, #w-node-fe0238d9-5864-6021-a950-c02e1e42acd3-a47603db, #w-node-fe0238d9-5864-6021-a950-c02e1e42acd4-a47603db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-a47603db {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-a47603db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-a47603db {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8d-a47603db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-a47603db {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-a47603db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-a47603db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-a47603db {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-a47603db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-a47603db {
  justify-self: start;
}

#w-node-_4b8cde9c-bfec-c8f0-57e2-0c32c52b37ca-8373d9bb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ca7f236b-419f-d13b-9321-b82cf42576d1-8373d9bb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_8a2e9237-0c1b-67c0-0a05-d16744009725-4400971b {
  align-self: stretch;
}

#w-node-a395755a-e33c-ce18-d435-c23c9d9d1577-9d9d1571, #w-node-_4b8cde9c-bfec-c8f0-57e2-0c32c52b37ca-9cfbb3bb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ca7f236b-419f-d13b-9321-b82cf42576d1-9cfbb3bb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-ca7f236b-419f-d13b-9321-b82cf42576d1-8373d9bb, #w-node-ca7f236b-419f-d13b-9321-b82cf42576d1-9cfbb3bb {
    align-self: center;
  }
}


@font-face {
  font-family: 'PP Monument Extended';
  src: url('../fonts/PPMonumentExtended-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PP Monument Extended';
  src: url('../fonts/PPMonumentExtended-Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mona Sans Regular';
  src: url('../fonts/Mona-Sans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mona Sans Medium';
  src: url('../fonts/Mona-Sans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mona Sans Semibold';
  src: url('../fonts/Mona-Sans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}